body {
    background-image: url(../assets/img/logo2.jpg);
    background-size: cover;
    background-position: 0px -150px;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.logo {
    height: 50px;
    width: auto;
    padding: 20px;
    border-radius: 25px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(135deg, #463700, #3b0a45, #400000);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.colored-text {
    color: rgb(255, 106, 0);
}

.big-header-text {
    font-size: 24px;
}

#books {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 60px;
}

.book {
    height: 80vh;
    width: 500px;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #463700, #3b0a45, #400000);
    border: 0,5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin: 30px;
}

.book-title h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-block-start: 0.50em;
    margin-block-end: 0.50em;
}

.book-cover {
    height: auto;
    width: 100%;
    border-top: 1px solid rgba(196, 244, 255, 0.5);
    border-bottom: 1px solid rgba(196, 244, 255, 0.5);
}

.book-info {
    width: 100%;
    border-bottom: 1px solid rgba(196, 244, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.price {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 12px;
}

.info {
    width: 90%;
}

.info td{
    padding: 4px 0;
}

.info table{
    padding-bottom: 12px;
}

.comment-box {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.comment-box h3 {
    text-align: start;
    width: 100%;
    margin: 0;
}

.comments {
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    height: 200px;
    width: 100%; 
    overflow-y: auto; 
    padding: 5px 5px; 
    box-sizing: border-box; 
}

.comments td {
    word-wrap: break-word;
    white-space: normal;
    padding: 5px 5px;
}


.comment-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-inline: 20px;
}

.inputFieldComment {
    width: 350px;
    height: 20px;
}

#sendButton {
    height: 28px;
    width: auto;
    cursor: pointer;
}

.likeBtn {
    cursor: pointer;
}

.likeBtn img {
    height: 15px;
    width: auto;
}

@media(max-width: 1700px) {
    body {
        background-position: 0px -80px;
    }
}

@media(max-width: 1610px) {
    body {
        background-position: 0px 0px;
    }
}

@media(max-width: 1490px) {
    body {
        background-position: 0px 2.8vw;
    }
}

@media(max-width: 1420px) {
    body {
        background-image: none;
        background-color: rgb(43, 42, 42);
    }
}

@media(max-width: 490px) {
    .book {
        width: 300px;
    }

    .book-title h2 {
        font-size: 20px;
    }

    .inputFieldComment {
        width: 230px;
    }
}

@media(max-height: 880px) {
    .comments {
        height: 120px;
        width: 100%; 
    }
}